html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

:root {
  --blue-ocean: #1B205B;
  --blue-beach: #2036A1;
}

@import "@/public/assets/css/style.css";



@import "loader.scss";
@import "fonts.scss";
@import "slider.scss";
@import "scrollbar.scss";
@import "stars.scss";

a {
  text-decoration: none !important;
  color: inherit !important;

}

* {
  box-sizing: border-box;
}

.down-to-up {
  transition: all .3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 8px var(--blue-beach);
  }
}

.custom-dark-button {
  color: white !important;
  border-radius: 10px;
  transition: all .3s;

  &:hover {
    color: black !important;
    background-color: white;
  }
}

.custom-light-button {
  border-radius: 10px;
  color: black !important;
  transition: all .3s;

  &:hover {
    color: white !important;
    background-color: black;
  }
}

.custom-ocean-gradiant {
  background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%);
}

.bg-beach {
  background-color: var(--blue-beach);
  color: white;
  border: 1px 0px 1px 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bg-ocean {
  background-color: var(--blue-ocean);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bg-black {
  background-color: black;
}

.btn-beach {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: var(--blue-beach);
    background-color: white;
  }
}

.beautiful-number {
  cursor: pointer;

  &:hover {
    color: aqua;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.hover-underline-black,
.hover-underline-light {
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 50%;
    width: 0;
    height: 3px;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
    left: 50%;
  }
}

.hover-underline-black::after {
  background-color: black;
}

.hover-underline-light::after {
  background-color: #FFF;
}


button[disabled] {
  cursor: not-allowed;
}

input[type="checkbox"] {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.rounded-10 {
  border-radius: 10px;
}

.background {
  background-image: linear-gradient(90deg, var(--blue-ocean), var(--blue-beach));
}

.tags-inverse-hover:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
}

.bg-pale {
  background-color: #F3F4F8;
}

.min-xh-100 {
  min-height: calc(100vh - 120px);
}

.main-home-element {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 120px);

}